@model Blog.Models.UserModel

@{
    ViewBag.Title = "Details";
}

<div class="row panel-default">
    @if (Model.Photo != null)
    {
        <div class="col-md-3">
            @Html.Raw("<img class='img-rounded' style='width:160px; height:120px;' src=\"data:image/jpeg;base64,"
                                                                          + Convert.ToBase64String(Model.Photo) + "\" />")
        </div>
    }
    <div class=" col-md-3">
        <h2><span class="glyphicon glyphicon-user"></span>@Model.Email</h2>
        <h5>User has @Model.Blogs.Count blog(-s)  <span></span><span class="glyphicon glyphicon-book"></span></h5>
    </div>
</div>
<div>

</div>
<div class="row panel-footer">
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })
    <hr />
    @if (!User.IsInRole("admin"))
    {
        <div class=" panel-body">
            <div class="btn-group">
                @using (Html.BeginForm("BlockUnblockUser", "Users", new { id = Model.Id }, FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <label class="label-info">Additional admin features</label>
                    <br />
                    if (Model.Blocked)
                    {
                        <div class="btn-group">
                            <button type="submit" class="btn btn-default">
                                <span class="glyphicon glyphicon-unchecked"></span><span></span>
                                Unlock
                            </button>
                            @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary" })
                        </div>
                    }
                    else
                    {
                        <div class="btn-group">
                            <button type="submit" class="btn btn-default">
                                <span class="glyphicon glyphicon-lock"></span><span></span>
                                Lock
                            </button>
                            @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary" })
                        </div>
                    }
                }
            </div>
        </div>
    }
</>
