@model Blog.Models.UserModel

@{
    ViewBag.Title = "Details";
}

<div>
    <h2><span class="glyphicon glyphicon-user"></span>@Model.Email</h2>
    <p>User has <span class="glyphicon glyphicon-book"></span>@Model.Blogs.Count blog(-s)</p>
</div>

<p>
    @if (!User.IsInRole("admin"))
    {
        <div class="btn-group">
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "btn btn-primary" })
            @*@Html.ActionLink("Delete", "Delete", new { id = Model.Id }, new { @class = "btn btn-primary" })*@
            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })
            @using (Html.BeginForm("BlockUnblockUser", "Users", new { id = Model.Id }, FormMethod.Post))
            {
                @Html.AntiForgeryToken()

                @*<div class="form-actions no-color">*@
                if (Model.Blocked)
                {
                    <span class="glyphicon glyphicon-unchecked">
                        <input type="submit" value='Unlock' class="btn btn-default" />
                    </span>
                }
                else
                {
                    <span class="glyphicon glyphicon-lock">
                        <input type="submit" value='Lock' class="btn btn-default" />
                    </span>
                }
                @Html.ActionLink("Users", "Details", new { id = Model.Id })
                @*</div>*@

            }
        </div>
    }
</p>
