@model Blog.Models.UserModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>UserModel</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
        @if (!User.IsInRole("admin") && ViewBag.roles != null && ViewBag.roles.Keys.Count != 0)
        {
            <div class="form-group">
                <div class="col-md-10">

                    @foreach (dynamic role in ViewBag.roles.Keys)
                    {
                        <div class="checkbox">
                            <label>
                                @Html.CheckBox("selectedRoles", (bool)ViewBag.roles[role], new { value = role })
                                @role
                            </label>
                        </div>
                    }

                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        }
    </div>
}
<div class="btn-group">
    @Html.ActionLink("Back to List", "Index","Users", null, new { @class = "btn btn-primary" })
</div>
